
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{body}}</p>
        <br>
        <!-- <div *ngIf="title == 'Review Submitted'">
          <p>Don't forget to make your next appointment!<p>
            <br>
            <a class="nav-item nav-link list-item d-flex align-items-center text-center" routerLink="/reservation" routerLinkActive="active"><i class="fa fa-calendar" aria-hidden="true"></i>
              <span>  Make a Reservation</span></a>
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"
                (click)="onModalClose()">
          Close
        </button>
      </div>
    </div>
  </div>


