<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
      <a class="navbar-brand nav-item nav-link" routerLink="/" routerLinkActive="active">
        <img class="navbar-img" src="assets/shelter-logo.png" alt="shelter logo">
    </a>
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="text-center">
        <!-- <div class="w-100">
          <img id="about-img" src="assets/dog-cat-peeking.jpg" alt="Dog Cat Peeking" width="500px">
        </div> -->
        <h2 class="nav-header">{{title}}</h2>
                <div class="w-100">
          <img id="about-img" src="assets/dog-cat-peeking.jpg" alt="Dog Cat Peeking" width="500px">
          <img id="about-img" src="assets/dog-cat-peeking.jpg" alt="Dog Cat Peeking" width="500px">
        </div>
                <!-- <div class="w-100">
          <img id="about-img" src="assets/dog-cat-peeking.jpg" alt="Dog Cat Peeking" width="500px">
        </div> -->
        <ul class="nav d-flex justify-content-around">
          <li>
            <a class="nav-item nav-link list-item" routerLink="/" routerLinkActive="active">HOME</a>
          </li>
          <li>
            <a class="nav-item nav-link list-item" routerLink="/animals" routerLinkActive="active">ANIMALS</a>
          </li>
          <li>
            <a class="nav-item nav-link list-item" routerLink="/owners" routerLinkActive="active">OWNERS</a>
          </li>
        </ul>
      </div>
      <!-- <div class="text-center">
        <button id="register-btn"><a id="register-link" class="nav-item nav-link list-item" routerLink="/owner-form" routerLinkActive="active">ADD OWNER</a></button>
      </div> -->
    </div>
  </div>


</nav>

