<div class="container mt-4">
  <h2>About Us</h2>
  <div class="row p-2">
    <div class="col-lg-6">
      <p class="fs-4">
        Fur-ever Friends Animal Shelter and Boarding House is the purrfect place to board your loved one or find a new best friend!
        We have a variety of rescue animals available for adoption. We also offer pet boarding for $40 a night.
      </p>
    </div>
      <div class="col-lg-6">
        <img id="about-img" src="assets/pets.jpg" alt="Pets" width="500px">
      </div>
    </div>
      <img class="w-100 p-3" src="assets/paw-border.jpg" alt="Paw Border">
  </div>



