h2 {
  font-family: 'Josefin slab', sans-serif;
  font-weight: bolder;
  font-size:3rem;
  text-shadow: 1px 1px 2px rgb(187, 245, 187), 0 0 25px black, 0 0 5px black;
}

p {
  text-align: justify;
  font-size: 25px;
  font-family: 'Josefin slab', sans-serif;
  font-weight: bold;
}

#about-img {
  box-shadow: 1px 1px 2px rgb(187, 245, 187), 0 0 25px black, 0 0 5px black;
  -moz-box-shadow: 1px 1px 2px rgb(187, 245, 187), 0 0 25px black, 0 0 5px black;
  -webkit-box-shadow: 1px 1px 2px rgb(187, 245, 187), 0 0 25px black, 0 0 5px black;
  -khtml-box-shadow: 1px 1px 2px rgb(187, 245, 187), 0 0 25px black, 0 0 5px black;
}
