<div class="container d-flex justify-content-center">

  <form>
    <div class="rounded row review-form p-3 mt-4 mb-4 w-100">
      <h2>{{title}}</h2>
      <div class="col-md-6 form-line">
        <div class="form-group mb-2">
          <label for="animalName">Name</label>
          <!-- <input type="text" class="form-control" id="animalName" #animalName placeholder="Enter Name"> -->
          <input type="text"placeholder="Enter Name" class="form-control" id="animalName" name="animalName" [(ngModel)]="animalName">
        </div>
        <div class="form-group mb-2">
          <label for="animalSpecies">Species</label>
          <input type="text" placeholder="Enter Species" class="form-control" id="animalSpecies" name="animalSpecies" [(ngModel)]="animalSpecies">
        </div>
        <div class="form-group mb-2">
          <label for="animalBreed">Breed</label>
          <input type="text" placeholder="Enter Breed" class="form-control" id="animalBreed" name="animalBreed" [(ngModel)]="animalBreed">
        </div>
        <div class="form-group mb-2">
          <label for="checkInDate">Birthday</label>
          <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="dob">
        </div>
        <div class="form-group mb-2">
          <label for="checkInDate">Check In Date</label>
          <input type="date" class="form-control" id="checkInDate" name="checkInDate" [(ngModel)]="checkInDate">
        </div>
        <div class="form-group mb-2">
          <label for="checkOutDate">Check Out Date</label>
          <input type="date" class="form-control" id="checkOutDate" name="checkOutDate" [(ngModel)]="checkOutDate">
        </div>
        <div class="form-group mb-2">
          <label for="reviewName">OwnerName</label>
          <input type="text" placeholder="Enter Owner" class="form-control" id="ownerName" name="ownerName" [(ngModel)]="ownerName">
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center mt-5">
        <div class="text-center">
          <button type="button" class="btn btn-success submit"
          (click)="onSubmitForm()"><i class="fa fa-paper-plane"
            aria-hidden="true"></i> Submit Form</button>
        <div id="confirmationText" *ngIf="showModalBool">
          <p>Form successfully submitted!</p>
        </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Add Confirmation Modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"

  [ngStyle]="{'display':displayStyle}">
<app-confirmation-dialog [title]="modalTitle" [body]="modalBody" (close)="onClose()"></app-confirmation-dialog>
 </div>
