<div class="row m-5" *ngIf="animal != undefined">
  <h3>{{title}} {{animal.name}}</h3>
<table class="table table-bordered table-responsive">
<thead id="animalDetailsTblHead" class="thead-dark">
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Species</th>
  <th>Breed</th>
  <th>Birthday</th>
  <th>Check In Date</th>
  <th>Check Out Date</th>
  <th>Owner</th>
</tr>
</thead>
<tbody>
<tr>
  <td>{{animal.animalId}}</td>
<td>{{animal.name}}</td>
<td>{{animal.species}}</td>
<td>{{animal.breed}}</td>
<td>{{animal.dob}}</td>
<td>{{animal.checkInDate}}</td>
<td>{{animal.checkOutDate}}</td>
<td><a [routerLink]="['/owner-details', animal.owner.ownerId]">{{animal.owner.name}} Details</a></td>
</tr>
</tbody>
</table>
<!-- <ng-template #noCourses>
  <p *ngIf="noCoursesBool">No Courses Available</p>
  </ng-template> -->
</div>



