#animal-link {
  color:black;
  font-weight: bold;
}

#animal-btn {
  background-color: rgb(227, 201, 245);
  font-family: 'Josefin slab', sans-serif;
  box-shadow: 5px 5px 5px rgb(187, 245, 187);
  -moz-box-shadow: 5px 5px 5px rgb(187, 245, 187);
  -webkit-box-shadow: 5px 5px 5px rgb(187, 245, 187);
  -khtml-box-shadow: 5px 5px 5px rgb(187, 245, 187);
}

a, #animal-btn {
  font-family: 'Josefin slab', sans-serif;
  z-index: 1;
  font-weight: 500;
  font-size: 22px;
  /* padding: 10px 5px; */
}
