<div class="text-center p-3">
  <button id="animal-btn"><a id="animal-link" class="nav-item nav-link list-item" routerLink="/animal-form" routerLinkActive="active">Add Animal</a></button>
</div>

<div class="row m-5">
  <h3>{{title}}</h3>
<table class="table table-bordered table-responsive">
<thead id="animalTblHead" class="thead-dark">
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Species</th>
  <th>Details</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let animal of animals">
<td>{{animal.animalId}}</td>
<td>{{animal.name}}</td>
<td>{{animal.species}}</td>
<td><a [routerLink]="['/animal-details', animal.animalId]">{{animal.name}} Details</a></td>
<td>
  <div class="text-center p-3">
    <button id="animal-btn"><a id="animal-link" class="nav-item nav-link list-item" [routerLink]="['/animal-form', animal.animalId]" routerLinkActive="active">Update {{animal.name}}</a></button>
  </div>
</td>
<td>
  <div class="text-center p-3">
    <button (click)="openConfirmationDialog(animal.animalId)" id="animal-btn" ><a id="animal-link" class="nav-item nav-link list-item">Delete {{animal.name}}</a></button>
  </div>
</td>
</tr>
</tbody>
</table>
<!-- <ng-template #noCourses>
  <p *ngIf="noCoursesBool">No Courses Available</p>
  </ng-template> -->
</div>

<!-- <div class="modal fade" *ngIf="toggleModalBool" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              ...
          </div>
          <div class="modal-body">
              ...
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a class="btn btn-danger btn-ok">Delete</a>
              <button class="btn btn-primary" data-toggle="confirmation" data-confirmation-event="toggleModal()">Confirmation</button>
          </div>
      </div>
  </div>
</div> -->




