header {
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-header{
  font-weight: bolder;
  font-size:3em;
  text-shadow: 1px 1px 2px rgb(227, 201, 245), 0 0 25px rgb(187, 245, 187), 0 0 5px rgb(187, 245, 187);
}

.navbar-img{
  box-shadow: 5px 5px 5px rgb(227, 201, 245);
  -moz-box-shadow: 5px 5px 5px rgb(227, 201, 245);
  -webkit-box-shadow: 5px 5px 5px rgb(227, 201, 245);
  -khtml-box-shadow: 5px 5px 5px rgb(227, 201, 245);
}

.nav-header, .nav-link {
  color:rgb(227, 201, 245);
  font-family: 'Josefin slab', sans-serif;
}

.nav-link:active {
  color:rgb(187, 245, 187);
}

#animal-link {
  color:black;
  font-weight: bold;
}

#animal-btn {
  background-color: rgb(227, 201, 245);
  font-family: 'Josefin slab', sans-serif;
  box-shadow: 5px 5px 5px rgb(187, 245, 187);
  -moz-box-shadow: 5px 5px 5px rgb(187, 245, 187);
  -webkit-box-shadow: 5px 5px 5px rgb(187, 245, 187);
  -khtml-box-shadow: 5px 5px 5px rgb(187, 245, 187);
}

.navbar-nav .nav-link.active{
  color:rgb(187, 245, 187);
}

nav {
  width: 100vw;
  font-family: 'Josefin slab', sans-serif;
}

a, #animal-btn {
  font-family: 'Josefin slab', sans-serif;
  z-index: 1;
  font-weight: 500;
  font-size: 22px;
  /* padding: 10px 5px; */
}
