<body>
  <header>
    <app-nav-bar></app-nav-bar>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
</body>
<footer class="bg-dark text-center text-lg-start">
  <app-footer></app-footer>
</footer>
