<div class="text-center p-3">
  <button id="owner-btn"><a id="animal-link" class="nav-item nav-link list-item" routerLink="/owner-form" routerLinkActive="active">Add Owner</a></button>
</div>

<div class="row m-5">
  <h3>{{title}}</h3>
<table class="table table-bordered table-responsive">
<thead id="ownerTblHead" class="thead-dark">
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Address 1</th>
  <th>Address 2</th>
  <th>City</th>
  <th>State</th>
  <th>Zipcode</th>
  <th>Email</th>
  <th>Phone</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let owner of owners">
  <td>{{owner.ownerId}}</td>
<td>{{owner.name}}</td>
<td>{{owner.address1}}</td>
<td>{{owner.address2}}</td>
<td>{{owner.city}}</td>
<td>{{owner.state}}</td>
<td>{{owner.zipcode}}</td>
<td>{{owner.email}}</td>
<td>{{owner.phone}}</td>
<td>
  <div class="text-center p-3">
    <button id="animal-btn"><a id="animal-link" class="nav-item nav-link list-item" (click)="toggleAnimalTable(owner.animals)">{{showAnimalsBtnName}} for {{owner.name}}</a></button>
  </div>
</td>
<td>
  <div class="text-center p-3">
    <button (click)="openConfirmationDialog(owner.ownerId)" id="owner-btn" ><a id="animal-link" class="nav-item nav-link list-item">Delete {{owner.name}}</a></button>
  </div>
</td>
</tr>
</tbody>
</table>
<!-- <ng-template #noCourses>
  <p *ngIf="noCoursesBool">No Courses Available</p>
  </ng-template> -->
</div>

<ng-container *ngIf="showOwnerAnimalsBool" #showOwnerAnimals>
  <div class="row m-5">
    <h3>Owner Animals</h3>
  <table class="table table-bordered table-responsive">
  <thead id="ownerAnimalsTblHead" class="thead-dark">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Species</th>
    <th>Details</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let animal of ownerAnimals">
    <td>{{animal.animalId}}</td>
    <td>{{animal.name}}</td>
    <td>{{animal.species}}</td>
    <td><a [routerLink]="['/animal-details', animal.animalId]">{{animal.name}} Details</a></td>
  </tr>
  </tbody>
  </table>
  <!-- <ng-template #noCourses>
    <p *ngIf="noCoursesBool">No Courses Available</p>
    </ng-template> -->
  </div>
</ng-container>

