h5 {
  color:rgb(227, 201, 245);
  font-family: 'Josefin slab', sans-serif;
  font-size: 2rem;
}

.row{
  font-family: 'Josefin slab', sans-serif;
  font-size: 1rem;
}

.btn-social-media {
  background-color: rgb(187, 245, 187);
}

.nav-link {
  color:rgb(187, 245, 187);
  font-family: 'Josefin slab', sans-serif;
  font-size: 1.5rem;
}

