<div class="container p-2">


  <!-- Grid container -->
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 text-white">
        <h5 class="text-uppercase mb-4 text-center">About company</h5>
        <p>
          Fur-ever Friends Animal Shelter and Boarding House is an animal shelter and boarding house located in Detroit, MI.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6">
        <h5 class="text-uppercase mb-0 text-center">Links</h5>
        <div class="mt-4 ">
          <ul class="list-unstyled list-group list-group-horizontal d-flex justify-content-around">
            <li >
              <a class="nav-item nav-link list-item" routerLink="/">HOME</a>
            </li>
            <br>
            <li>
              <a class="nav-item nav-link list-item" routerLink="/animals">ANIMALS</a>
            </li>
            <br>
            <li>
              <a class="nav-item nav-link list-item" routerLink="/owners">OWNERS</a>
            </li>
          </ul>
        </div>

        <div class="mt-4 d-flex justify-content-between">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-link btn-lg btn-social-media" target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-link btn-lg btn-social-media" target="_blank" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-link btn-lg btn-social-media" target="_blank" href="https://www.google.com/"><i class="fab fa-google-plus-g"></i></a>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6">
        <h5 class="text-uppercase text-center">Hours of Operation</h5>

        <table class="table text-center text-white">
          <tbody class="font-weight-normal">
            <tr>
              <td>Mon - Thu:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8am - 1pm</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>Closed</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->


</div>


